<!doctype html>
<html lang='en'>

<head>
  <meta charset='utf-8'>
</head>

<body>
  <header>
    <h1><a href='/'>Поиск данных по ID</a></h1>
  </header>
  <form method="POST">
    <label>Введите ID
      <input type="text" name="dataId" />
    </label>
    <input type="submit" value="Поиск">
  </form>
</body>

</html>